name: Tests
on:
  pull_request:
    types: [ labeled, synchronize ]
jobs:
  label:
    name: Find 'Test Matoya' Label
    runs-on: ubuntu-latest
    outputs:
      label_exists: ${{contains(toJson(github.event.label.name), 'Test Matoya') || ( (github.event.action == 'synchronize') && contains(toJson(github.event.pull_request.labels.*.name), 'Test Matoya') )}}
    steps:
      - name: Nothing
        shell: bash
        run: echo ""
  macos:
    name: macOS
    runs-on: macos-latest
    needs: label
    if: ${{needs.label.outputs.label_exists == 'true'}}
    permissions:
      contents: read
    env:
      TERM: xterm-256color
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4
        with:
          path: libmatoya
      - name: Test
        run: |
          cd libmatoya
          make ARCH=arm64
          cd test
          make ARCH=arm64
  linux:
    name: Linux
    runs-on: ubuntu-latest
    needs: label
    if: ${{needs.label.outputs.label_exists == 'true'}}
    permissions:
      contents: read
    env:
      TERM: xterm-256color
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4
        with:
          path: libmatoya
      - name: Test
        run: |
          cd libmatoya
          make
          cd test
          make
  windows:
    name: "Windows x64"
    runs-on: windows-2022
    needs: label
    if: ${{needs.label.outputs.label_exists == 'true'}}
    permissions:
      contents: read
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4
        with:
          path: libmatoya
      - name: Test
        shell: cmd
        run: |
          call "C:/Program Files/Microsoft Visual Studio/2022/Enterprise/VC/Auxiliary/Build/vcvars64.bat"
          cd libmatoya
          nmake
          cd test
          nmake
